body {
  padding-top: 70px;
}

.btn {
  margin: 5px;
}

.row.link-input {
  text-align: center;
}

table {
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}

.badge {
  background-color: #337ab7;
}
